In [1]:
import snscrape.modules.twitter as sns
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# scraping tweets related to  differet retail compenies in india over a period 2019 - 2021

In [6]:
tweets = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sns.TwitterSearchScraper('#ajio since:2019-01-01 until:2021-12-25').get_items()):
    if i>5000:
        break
    tweets.append([tweet.date, tweet.id,tweet.replyCount,tweet.likeCount,tweet.renderedContent])
    
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets, columns=['Datetime', 'Tweet Id','replycount','like','content'])

In [19]:
tweets_df.shape

(5001, 5)

In [11]:
tweets1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sns.TwitterSearchScraper('Bigbilliondays since:2019-01-01 until:2021-12-25').get_items()):
    if i>6000:
        break
    tweets1.append([tweet.date, tweet.id,tweet.replyCount,tweet.likeCount,tweet.renderedContent])
    
# Creating a dataframe from the tweets list above
tweets_df1 = pd.DataFrame(tweets1, columns=['Datetime', 'Tweet Id','replycount','like','content'])

In [18]:
tweets_df1.shape

(6001, 5)

In [20]:
tweets2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sns.TwitterSearchScraper('primeday since:2019-01-01 until:2021-12-25').get_items()):
    if i>6000:
        break
    tweets2.append([tweet.date, tweet.id,tweet.replyCount,tweet.likeCount,tweet.renderedContent])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets2, columns=['Datetime', 'Tweet Id','replycount','like','content'])

In [21]:
tweets_df2.shape

(6001, 5)

In [22]:
tweets3 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sns.TwitterSearchScraper('Bigbasket since:2019-01-01 until:2021-12-25').get_items()):
    if i>6000:
        break
    tweets3.append([tweet.date, tweet.id,tweet.replyCount,tweet.likeCount,tweet.renderedContent])
    
# Creating a dataframe from the tweets list above
tweets_df3 = pd.DataFrame(tweets3, columns=['Datetime', 'Tweet Id','replycount','like','content'])

In [23]:
tweets_df3.shape

(6001, 5)

In [25]:
tweets4 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sns.TwitterSearchScraper('Lenskart since:2019-01-01 until:2021-12-25').get_items()):
    if i>6000:
        break
    tweets4.append([tweet.date, tweet.id,tweet.replyCount,tweet.likeCount,tweet.renderedContent])
    
# Creating a dataframe from the tweets list above
tweets_df4 = pd.DataFrame(tweets4, columns=['Datetime', 'Tweet Id','replycount','like','content'])

In [26]:
tweets_df4.shape

(6001, 5)

In [28]:
tweets_df.head()

,Datetime,Tweet Id,replycount,like,content
0,2021-12-24 16:11:40+00:00,1474412470085193728,0,0,#AJIO : Sweatshirts and Hoodies under 499₹\n\n...
1,2021-12-24 15:40:22+00:00,1474404592217587718,1,0,Hello @AJIOLife \nAlive? Company of your words...
2,2021-12-24 11:33:55+00:00,1474342568804511745,1,0,#Ajio @AJIOLife Told me To Refund My Amount by...
3,2021-12-24 09:46:20+00:00,1474315497688633344,0,0,"Refund not issued by #Ajio, consumer complaint..."
4,2021-12-24 09:20:05+00:00,1474308891206774784,1,0,@AJIOLife Show me your work then! There is no ...

In [30]:
tweets_df1.head()

,Datetime,Tweet Id,replycount,like,content
0,2021-12-19 04:00:17+00:00,1472416472278335492,0,1,@_Kalyan_K @Flipkart After 20 days pf struggle...
1,2021-12-18 16:20:44+00:00,1472240422080626694,0,0,b'@motorolaindia @Flipkart Great specification...
2,2021-12-18 10:00:00+00:00,1472144610113818624,0,0,Flipkart-ல் பெண்கள்: ‘பிக் பில்லியன் டேஸ்’க்கு...
3,2021-12-15 05:40:09+00:00,1470992050870886401,0,6,क्या आप अपने @Flipkart ऑर्डर का बेसब्री से इंत...
4,2021-12-10 03:31:44+00:00,1469147794883551234,2,0,"I gave all the details to @Flipkart , they ass..."

In [31]:
tweets_df2.head()

,Datetime,Tweet Id,replycount,like,content
0,2021-12-24 10:09:18+00:00,1474321276206563347,0,0,Commissions are not going to be affected by th...
1,2021-12-24 10:08:41+00:00,1474321120157392898,1,5,I’ve had some absolutely world-shattering news...
2,2021-12-23 20:06:07+00:00,1474109082881732613,0,0,⚫️ Robot de Cocina Tasty! Mellerware\n\n🛒: amz...
3,2021-12-23 19:35:07+00:00,1474101280998105090,0,0,⚫️ Adaptador de HDMI a VGA Alextry\n\n🛒: amzn....
4,2021-12-23 18:40:15+00:00,1474087472028078082,0,0,⚫️ Barra de sonido 2.0 60W Hisense HS205\n\n🛒:...

In [32]:
tweets_df3.head()

,Datetime,Tweet Id,replycount,like,content
0,2021-12-24 21:11:30+00:00,1474487924297121792,1,0,@bigbasket_com Do you donate money to @RSSorg ...
1,2021-12-24 19:24:26+00:00,1474460980755140611,1,0,@bigbasket_com Are you calling me with a solut...
2,2021-12-24 19:09:43+00:00,1474457276446507014,0,0,Complete and total boycott of RSS-BJP enablers...
3,2021-12-24 19:05:53+00:00,1474456313342029826,1,0,@bigbasket_com @bigbasket_com @bigbasketblog @...
4,2021-12-24 18:10:14+00:00,1474442308821176321,0,0,@ravi0318 We are truly saddened to know that ...

In [33]:
tweets_data = pd.concat([tweets_df,tweets_df1,tweets_df2,tweets_df3,tweets_df4],axis=0)

In [36]:
tweets_data.head(4)

,Datetime,Tweet Id,replycount,like,content
0,2021-12-24 16:11:40+00:00,1474412470085193728,0,0,#AJIO : Sweatshirts and Hoodies under 499₹\n\n...
1,2021-12-24 15:40:22+00:00,1474404592217587718,1,0,Hello @AJIOLife \nAlive? Company of your words...
2,2021-12-24 11:33:55+00:00,1474342568804511745,1,0,#Ajio @AJIOLife Told me To Refund My Amount by...
3,2021-12-24 09:46:20+00:00,1474315497688633344,0,0,"Refund not issued by #Ajio, consumer complaint..."

In [37]:
tweets_data.isnull().sum()

Datetime      0
Tweet Id      0
replycount    0
like          0
content       0
dtype: int64

In [63]:
tweets_data.drop_duplicates(inplace=True)

In [64]:
a = list(range(28998))

In [65]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [66]:
tweets_data['index'] = a

In [67]:
len(tweets_data)

28998

In [73]:
tweets_data.drop(['new'],axis=1,inplace = True)

In [77]:
tweets_data.set_index('index',inplace=True)

In [79]:
tweets_data.head(30)

,Datetime,Tweet Id,replycount,like,content
index,,,,,
0,2021-12-24 16:11:40+00:00,1474412470085193728,0,0,#AJIO : Sweatshirts and Hoodies under 499₹\n\n...
1,2021-12-24 15:40:22+00:00,1474404592217587718,1,0,Hello @AJIOLife \nAlive? Company of your words...
2,2021-12-24 11:33:55+00:00,1474342568804511745,1,0,#Ajio @AJIOLife Told me To Refund My Amount by...
3,2021-12-24 09:46:20+00:00,1474315497688633344,0,0,"Refund not issued by #Ajio, consumer complaint..."
4,2021-12-24 09:20:05+00:00,1474308891206774784,1,0,@AJIOLife Show me your work then! There is no ...
5,2021-12-24 07:25:07+00:00,1474279956788088832,0,0,"hey fraudster @AJIOLife , what is this? tell m..."
6,2021-12-24 03:09:31+00:00,1474215634183491587,1,0,Its not about bad software but they are frauds...
7,2021-12-24 02:14:09+00:00,1474201701062045700,1,0,"@AJIOLife ,if my order number is FL0302869226,..."
8,2021-12-24 02:05:53+00:00,1474199620968275968,1,0,"hey fraud @AJIOLife , you can see the invoice ..."
9,2021-12-23 13:12:51+00:00,1474005081519378432,1,0,#ajio @AJIOLife\nI have ordered flip flop from...
10,2021-12-23 11:22:19+00:00,1473977262340927489,1,0,@AJIOLife yogendra kushwah delivery man talk t...
11,2021-12-23 09:50:25+00:00,1473954138014707716,1,0,#AJIO @vineetnayar on 16 dec I tried to pay fo...
12,2021-12-23 09:43:48+00:00,1473952472133554180,1,0,"At first, #ajio asked my address zip code, the..."
13,2021-12-23 08:50:01+00:00,1473938934228938752,1,2,@AJIOLife Providing worst Service ever. Their ...
14,2021-12-23 06:16:52+00:00,1473900395730591747,1,0,So this is the mail I got from @AJIOLife few m...
15,2021-12-23 06:08:57+00:00,1473898402593181697,3,0,this is how delay products in #Ajio if there i...
16,2021-12-22 18:32:47+00:00,1473723205047181313,1,0,"@AJIOLife No update after 3 days of your ""mess..."
17,2021-12-22 16:25:54+00:00,1473691273609596936,0,0,#AJIO : #Puma Sports Shoes At Rs.999 (limited ...
18,2021-12-22 15:18:51+00:00,1473674402839646213,0,0,@AJIOLife RT53686291 has been picked up but ex...
19,2021-12-22 15:16:33+00:00,1473673823895662599,0,0,@AJIOLife RT53686291 has been picked up but ex...
20,2021-12-22 13:52:44+00:00,1473652729352372225,0,0,(7/infinite) #AJIO This is what they comment o...
21,2021-12-22 13:50:16+00:00,1473652109295849472,0,0,(6/infinite) #AJIO So the exchange pickup whic...
22,2021-12-22 13:30:25+00:00,1473647111690285056,0,0,(5/infinite) #AJIO This is the mail I got on 3...
23,2021-12-22 13:28:00+00:00,1473646504468357121,0,0,(4/infinite) This is the mail which I sent to...
24,2021-12-22 13:22:19+00:00,1473645076505006083,0,0,(3/infinite) #AJIO so the actual problem is I ...
25,2021-12-22 13:16:48+00:00,1473643685107568646,0,0,(2/infinite) #AJIO so I thought I could get so...
26,2021-12-22 12:45:09+00:00,1473635721084690433,1,1,#AJIO is the worst shopping app I have ever us...
27,2021-12-22 12:15:26+00:00,1473628244205191173,1,0,I have ordered a product from #ajio . after tw...
28,2021-12-22 10:37:17+00:00,1473603540769599490,1,1,Dear @AJIOLife. My order which was placed on 2...
29,2021-12-22 09:47:44+00:00,1473591071401598976,0,0,I have attached the screenshots of what i have...

In [81]:
tweets_data.to_csv('twitterdata.csv')